<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOS - Lecture Online Service | {{ title }}</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/build/css/libs.css">
        <script src="/static/build/js/libs.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div id="header">
                <nav class="navbar navbar-defaults">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>
                </nav>
            </div>
            {% block content %}
            {% endblock %}
            <div id="footer">
                <div id="copyright">footer things</div>
            </div>
        </div>
    </body>
</html>