{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div id="feed" class="content">
            <h1>Feed of streams</h1>
            {% for object in objects %}
            <div id="{{ object.pk }}" class="row">
                <div class="col-xs-4">
                    <a href="#"><img src="{{ object.thumbnail.url }}"
                    width="100%" class="img-thumbnail"></a>
                </div>
                <div class="col-xs-8">
                    <h3><a href="{{ object.url }}">{{ object.title }}</a></h3>
                    <p>{{ object.description }}</p>
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ object.views }} viewers</p>
                </div>            
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}