{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<div id="registrationPage" class="container">
    <div id="login" class="col-md-6">
        <h1><span class="glyphicon glyphicon-blackboard"></span></h1>
        {% crispy login_form %}
    </div>  
    <div id="reg" class="col-md-6">  
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#student">Student registration</a></li>
          <li><a data-toggle="tab" href="#lector">Lector registration</a></li>
        </ul>
        <div class="tab-content">
          <div id="student" class="tab-pane fade in active">
            {% crispy student_form %}
          </div>
          <div id="lector" class="tab-pane fade">
            {% crispy teacher_form %}
          </div>
        </div>
    </div>
</div>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
{% endblock %}