{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<div id="streamPage" class="container">
    <div><!-- <div class="col-md-8"> -->
        <div id="stream">
            <video width="100%" height="600" controls="controls" poster="http://drawi.ru/pic/da8ed5bfc1e7372e.jpeg">
               <!--  <source src="#.ogv" type='video/ogg; codecs="theora, vorbis"'>
                <source src="#.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <source src="#.webm" type='video/webm; codecs="vp8, vorbis"'> -->
                Тег video не поддерживается вашим браузером. 
                <a href="video/duel.mp4">Скачайте видео</a>.
            </video>
        </div>
        <div id="info" class="clearfix">
            <img src="http://cs628527.vk.me/v628527991/4ee6/3a1m4apBg28.jpg" class="img-thumbnail pull-left" alt="ava">
            <h4>Lecture name</h4>
            <p>Just one cool guy</p>
            <p class="pull-right"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 150 viewers</p>
        </div>
        <div id="description">
            <h1>Description of da lecture</h1>
            <p>Lorem Ipsum je jednostavno probni tekst koji se koristi u tiskarskoj i slovoslagarskoj industriji. Lorem Ipsum postoji kao industrijski standard još od 16-og stoljeća, kada je nepoznati tiskar uzeo tiskarsku galiju slova i posložio ih da bi napravio knjigu s uzorkom tiska. Taj je tekst ne samo preživio pet stoljeća, već se i vinuo u svijet elektronskog slovoslagarstva, ostajući u suštini nepromijenjen. Postao je popularan tijekom 1960-ih s pojavom Letraset listova s odlomcima Lorem Ipsum-a, a u skorije vrijeme sa software-om za stolno izdavaštvo kao što je Aldus PageMaker koji također sadrži varijante Lorem Ipsum-a.</p>
            <p><img src="https://camo.githubusercontent.com/0609cc13fb7cb5f1447ff0366c27d56d3f33ec8d/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f5a35357a6c7a6f6d70596775632f67697068792e676966" class="img-responsive" width="400" alt="cat"></p>
        </div>
    </div>
    <div class="col-md-4 hidden">
        <div id="chat"></div>
        <div id="another_lections"></div>
    </div>
        <div id="mycamera" style="width:320px; height:240px;"></div>
    <div id="result"></div>
    <script src="{% static 'js/snapshot.js' %}" type="text/javascript"></script>
</div>
{% endblock %}