{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<div id="streamPage" class="container">
    <div>
        <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Persentage</th>
                    <th>Passed</th>
                  </tr>
                </thead>
                <tbody>
                  {% for obj in objects %}
                  <tr>
                    <td>{{ obj.statistics.user.user.username }}</td>
                    <td>{{ obj.percentage }}</td>
                    <td>
                    {% if obj.percentage > 60 %}
                        Passed
                    {% else %}
                        Failed
                    {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="col-md-4 hidden">
        <div id="chat"></div>
        <div id="another_lections"></div>
    </div>
    <!-- Modal -->
    <div id="result"></div>
    <script type="text/javascript">
        var object = {{ object.pk }};
    </script>
</div>
{% endblock %}